
.container-fluid{
    position: absolute;
    width: 100%;
    z-index: 50 !important;
    background-color: rgba(1, 1, 1, .25);
 color: white !important;
}


.carousel-item img{
    object-fit: cover;
    height: 900px;
}



.carousel{
    transform: translateY(-100px);
    z-index: -0 !important;
}

.backgroundImg{
    background-size: 100vw;
    background-image: url(/20.3/Unsolved/images/Hollywood.png);
padding-top: 256px;
padding-bottom: 128px;
}

.card{
    max-width: 500px;
}

.chevron{
    padding-top: 256px;
    padding-bottom: 128px;
}